.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  overflow: hidden;
}

body {
  background-color: #efeaea;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.bold-text {
  font-weight: bold;
}

.button:hover {
  background-color: #b2aba2;
  color: #2c1717;
}

.container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.greenGradientBtn {
  background-image: linear-gradient(132deg, #e7caca 0%, #766767 100%);
  border-radius: 50px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.975rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.greenGradientBtn:active {
  transform: translateY(-1px);
}

table {
  width: 20%;
  padding: 0 0 0 30px;
}

td {
  color: #493c3c;
  font-family: "Dubai", serif;
  font-size: 20px;
  padding: 0 0 0 0;
  text-align: center;
}

.textField {
  color: #493c3c;
  font-family: "Dubai", serif;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

th {
  font-family: "Dubai", serif;
  color: #493c3c;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.upperBoard, .lowerBoard {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

@media (min-width: 600px) {
  .upperBoard, .lowerBoard {
    flex-direction: row;
    justify-content: space-between;
  }
}
