.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  overflow: hidden;
}

.boardStyle {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  border-collapse: collapse;
}

body {
  background-color: #fbf6f6;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.bold-text {
  font-weight: bold;
}

.button:hover {
  background-color: #b2aba2;
  color: #2c1717;
}

.container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.greenGradientBtn {
  background-image: linear-gradient(132deg, #e7caca 0%, #766767 100%);
  border-radius: 50px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.975rem;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.greenGradientBtn:active {
  transform: translateY(-1px);
}

.winning-square {
  background-color: #efd6d6;
  position: relative;
}

.square {
  border: 1px solid #756e6e;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.square-0, .square-3, .square-6 { border-left: none; }
.square-2, .square-5, .square-8 { border-right: none; }
.square-0, .square-1, .square-2 { border-top: none; }
.square-6, .square-7, .square-8 { border-bottom: none; }

table {
  width: 20%;
}

td {
  color: #493c3c;
  font-family: "Dubai", serif;
  font-size: 20px;
  text-align: center;
}

.textField {
  color: #493c3c;
  font-family: "Dubai", serif;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.upperBoard, .lowerBoard {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.upperBoard .textField, .lowerBoard table {
  flex-grow: 1;
}

.upperBoard button, .lowerBoard button {
  margin-left: auto;
}


